*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    font-size: 70px;
    color: coral;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    padding: 30px;
    text-align: center;
}

h2{
    font-size: 40px;
    color: coral;
    margin-bottom: 10px;
}

input{
    height: 30px;
    width: 50%;
    padding: 5px;
    margin-top: 4px;
    cursor: pointer;
}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    text-align: center;
   color: brown;
}
